<h2>Simple Video Call</h2>
<video id="localVideo" autoplay playsinline></video>
<video id="remoteVideo" autoplay playsinline></video>

<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/call.js"></script>